body{
    background-color: rgba(72, 188, 93, 0.373);
    text-align: center;
    font-size: 20px;
}
button{
    background-color: rgba(109, 231, 64, 0.327);
    font-size: 2rem;
    padding: 7px;
    border-radius: 10px;
    border: none;
    cursor: grabbing;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}
button:hover{
    background-color: rgba(8, 85, 26, 0.655);
}
#GifContainer{
    display: none; 
    margin-top: 20px;
}
#gif{
    width: 270px;
    position: absolute;
    top: 280px; 
    right: 1150px;
}
#gif2{
    width: 500px;
    position: absolute;
    top: 290px; 
    right: 550px;
}
#gif3{
    width: 400px;
    position: absolute;
    top: 295px; 
    right: 50px;
}
#gif4{
    width:1511px;
    position: absolute;
    top: 0px;
    left: 8px;
}